/* FormField.module.css */
.formField {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .formLabel {
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .formInput {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px white;
    background-color: #000; 
    color: white; 
  }
