.form {
    width: 100%;
}

.form .formButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form .formButtons button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px white;
    background-color: #000;
    color: white;
    flex-grow: 1;
}

.form .formButtons button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* Styles for Back and Next buttons */
.form .backButton, .form .nextButton {
    background-color: #333; /* Slightly different color for distinction */
}

.form .backButton:hover, .form .nextButton:hover {
    background-color: #ddd;
    color: #333;
}
.form p{
    text-align: center;
}
.form .loginButton {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-decoration: underline;
}

.form .loginButton:hover{
    cursor: pointer;
}