.buttons{
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.button{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}