.flex-container{
    width: 100%;
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.flex-container-address{
    width: 100%;
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

